@font-face {
	font-family: "roboto";
	src: url(fonts/Roboto/Roboto-Regular.ttf);
}

:root {
	--bg-color: #b5c2b8;
	--bg-color2:  rgb(255, 255, 255);
	--accent-1: #526757;
	--accent-2: #ffc229;
	--accent-3: #ffc941; 
}

html {
	font-size: 12px;
}

body {
	height: 100vh;
	font-family: roboto, sans-serif;
	margin: 0;
	display: grid;
}

.header {
	padding: 0 2rem 1rem;
	background-color: var(--bg-color2);
	grid-area: 1 / 2 / 2 / 4;
	display: grid;
	grid-template: 1fr 1fr / 2fr 1fr;
}

.search {
	align-self: center;
}

form {
	display: flex;
	align-items: center;
}

.search input[type='search'] {
	border-radius: 16px;
	background-color: var(--bg-color);
	border: none;
	width: 80%;
	height: 2rem;
	padding-left: 1em;
}

.search-btn {
	background: none;
	border: none;
}

.search-btn img {
	height: 1.5rem;
}

.greeting {
	grid-area: 2 / 1 / 3 / 2;
	display: grid;
	place-self: start;
}

.greeting .avatar {
	display: grid;
	place-self: center;
	grid-area: 1 / 1 / 2 / 2;
	font-size: 1.5rem;
}

.welcome{
	font-size: 1.5rem;
	font-weight: 1000;
	grid-area: 1 / 2 / 2 / 3;
	display: grid;
	align-self: center;
	padding: 1rem;
}

.welcome p {
	font-size: .6em;
	margin: 0;
}

/* .welcome img {
  height: 4em;
} */

.login {
	align-self: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	gap: 2rem;
	font-weight: 900;
}

.login img {
	height: 1.5rem;
	display: grid;
}

.buttons {
	display: flex;
	gap: 1.5rem;
	grid-area: 2 / 2 / 3 / 3;
	justify-content: flex-end;
	align-items: center;
}

.buttons button {
	background-color: var(--accent-1);
	color: white;
	border-style: none;
	border-radius: 24px;
	padding: .7em 1.7em;
	font-weight: 700;
}

.buttons :hover {
	scale: .96;
}

.sidebar {
	font-size: 1.5rem;
	padding: 2rem 4rem 0;
	grid-area: 1 / 1 / 3 / 2;
	background-color: var(--accent-1);
	color: white;
	display: grid;
	gap: 1.5rem;
	grid-template-rows: min-content min-content;
	place-items: start start;
}

.sidebar_title{
	font-size: 1.5rem;
	font-weight: 1000;
}

.sidebar ul {
	padding: 0;
	display: grid;
	gap: 1em;
	list-style-type: none;
	font-weight: 1000;
}

.sidebar ul > div {
	display: grid;
	gap: 1.5rem;
	justify-content: start;
	align-items: center;
	grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
}

.sidebar li {
	display: flex;
	gap: 1rem;
	grid-column: 2 / 3;
}

a {
	text-decoration: none;
	color: white;
}

.sidebar div :hover {
  scale: 1.05;
}

.sidebar :visited {
	color: white;
}

.main-content {
	display: grid;
	grid-template-columns: 1fr 300px;
	background-color: var(--bg-color);
}

.dashboard {
	grid-area: 1 / 1 / 2 / 2;
	padding: 0 1.5rem 0;
	display: grid;
	align-content: start;
}

h1 {
	font-size: 1.25rem;
	margin-top: 1.5rem;
	margin-bottom: .5rem;
}

.project-cards {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(2, 1fr);
	/* align-content: space-around; */
	gap: 2rem;
	font-size: 1.25rem;
}
	
.project {
	border-left: 6px solid var(--accent-2);
	background-color: var(--bg-color2);
	border-radius: 6px;
	padding: 1.5rem;
	display: grid;
}

.project,
.right-side .card {
	box-shadow: 3px 3px 2px rgb(216, 216, 216);
}

.project .content {
	grid-row: 1 / 2;
}

.interactive {
	padding: 1em;
	gap: 1rem;
	display: flex;
	justify-content: flex-end;
	place-self: end;
	grid-row: 2 / 3;
}

.right-side {
	display: grid;
	grid-template-rows: 1fr 1fr;
	align-items: start;
	grid-area: 1 / 2 / 2 / 3;
	padding: 0 2rem 0 1rem;
}

.card {
	display: grid;
	gap: 2em;
	background-color: var(--bg-color2);
	border-radius: 6px;
	padding: 1.5em 2rem 1em;
}

.announcements {
	grid-row: 1 2;
}

.card :last-child {
	border: none;
}

.card p {
	color: grey;
}

.item h3 {
	margin-top: 0;
}

.item {
	padding-bottom: 1em;
	border-bottom: 1px solid rgb(202, 202, 202);
}

.item p {
	margin: 0;
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.trending {
	grid-row: 2 3;
	width: 100%;
	display: grid;
	padding-top: 1rem;
}

.trending .card {
	grid-template-rows: repeat(4, 4rem);
	padding: 2rem 1rem;
}

.account {
	display: grid;
	grid-template-columns: repeat(2);
	place-content: start;
	place-items: center;
	gap: 2em;
}

.account .user {
	grid-area: 1 / 2 / 2 / 3;
}

.avatar {
	grid-area: 1 / 1 / 2 / 2;
	background-color: var(--accent-3);
	border-radius: 100%;
}

.avatar img {
	display: grid;
	height: 4em;
}

.trending .description {
	color: grey;
}



